/*************/
/* CSS RESET */
/*************/

/*naar een idee van Jen Simmons*/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  body {
    margin:0;
  }
  
  button:not([disabled]) {
    cursor:pointer;
  }





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /*doosje kleuren*/
  --box-color: rgb(199, 130, 18);
  --box-shadow-color: rgb(163, 82, 2);

  /*vuurwerk pijlen*/
  --firework-red: rgb(215, 1, 1);
  --firework-shadow: rgb(156, 8 ,8);
}





/******************/
/***** basics *****/
/******************/
main {
  display: flex;
  justify-content: center;
}
section{
  background-color: rgb(5, 5, 52);
  width: 100vw;
  height: 100vh;

  position: fixed;
}
h1 {
  z-index: 1;
  color: rgb(245, 235, 212);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100vw;
  padding: 0;
  position: absolute;
  bottom: 0;
  margin: 0;

  background-color: bisque;
}
li {
  display: flex;
  align-items: flex-end;
  background-color: aqua;
  width: 3em;
}
button {
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}





/*****************/
/*** elementen ***/
/*****************/

/***** 1: doosje *****/
/*********************/
/*scene*/
li:first-of-type button {
  height: 6em;
  margin-bottom: 0.8em;
  margin-left: -2em;
  aspect-ratio: 1;
  /*verdwijnpunt*/
  display: grid;
  place-content: center;

  perspective: 25em;

  transform-style: preserve-3d;
  background-color: rgba(255, 255, 255, 0);
  transform: rotate(-20deg);
}

/*kubus*/
li:first-of-type button >div {
  position: relative;

  width: 8em;
  height: 6em;

  /* background-color: blue; */

  transition: 1s;

  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transform: rotateY(40deg) rotateX(60deg);
}

li:first-of-type button div:hover {
  transform: rotateY(60deg) rotateX(65deg);
}

/*vlakjes*/
li:first-of-type button div div {
  position: absolute;
  inset: 0;
}

li:first-of-type button div div:first-of-type {
  transform: translateZ(1.5em);
  background: linear-gradient(0deg, var(--box-color) 0%, var(--box-color) 40%, rgba(255,255,255,0.8029805672268908) 41%, rgba(255,255,255,0.7973783263305322) 59%, var(--box-color) 60%, var(--box-color) 100%);
  box-shadow: 0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(2) {
  transform: translateZ(-3em);
  background-color: var(--box-color);
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(3) {
  transform: rotateY(90deg) translateZ(6.3em);
  background-color: var(--box-color);
  height: 6em;
  width: 5em;
  transform-origin: 33.4% 0%;
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(3.1em);
  background-color: var(--box-color);
  height: 6.15em;
  width: 4.8em;
  transform-origin: 66% 0%;
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(5) {
  transform: rotateX(90deg) translateZ(3.3em);
  background-color: var(--box-color);
  width: 8em;
  height: 5em;
  transform-origin: 0% 66.68%;
  box-shadow: 0.2em 0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(6) {
  transform: rotateX(-90deg) translateZ(4.5em);
  background-color: var(--box-color);
  width: 8em;
  height: 4.8em;
  transform-origin: 0% 33.4%;
  box-shadow: 0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}

/***** 1: doosje *****/
/*********************/
/*scene*/
/* li:first-of-type button {
  height: 3em;
  aspect-ratio: 1;
  display: grid;
  place-content: center;

  perspective: 20em;

  transform-style: preserve-3d;
  background-color: rgba(255, 255, 255, 0);
} */

/*kubus*/
/* li:first-of-type button >div {
  position: relative;

  width: 3em;
  aspect-ratio: 1; */

  /* background-color: blue; */

  /* transition: 1s;

  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  transform: rotateY(-25deg) rotateX(-20deg);
} */

/* li:first-of-type button div:hover {
  transform: rotateY(350deg) rotateX(20deg);
} */

/*vlakjes*/
/* li:first-of-type button div div {
  position: absolute;
  inset: 0;
}

li:first-of-type button div div:first-of-type {
  transform: translateZ(1.5em);
  background-color: var(--box-color);
  box-shadow: 0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(2) {
  transform: translateZ(-3em);
  background-color: var(--box-color);
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(3) {
  transform: rotateY(90deg) translateZ(1.5em);
  background-color: var(--box-color);
  height: 3em;
  aspect-ratio: 3 / 2;
  transform-origin: 33.4% 0%;
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(4) {
  transform: rotateY(-90deg) translateZ(3em);
  background-color: var(--box-color);
  height: 3em;
  aspect-ratio: 3 / 2;
  transform-origin: 66.68% 0%;
  box-shadow: -0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(5) {
  transform: rotateX(90deg) translateZ(3em);
  background-color: var(--box-color);
  width: 3em;
  aspect-ratio: 2 / 3;
  transform-origin: 0% 66.68%;
  box-shadow: 0.2em 0.2em 0.5em 0.1em var(--box-shadow-color) inset;
}
li:first-of-type button div div:nth-of-type(6) {
  transform: rotateX(-90deg) translateZ(1.5em);
  background-color: var(--box-color);
  width: 3em;
  aspect-ratio: 2 / 3;
  transform-origin: 0% 33.4%;
  box-shadow: 0.2em -0.2em 0.5em 0.1em var(--box-shadow-color) inset;
} */





/***** 2: 2pijlen *****/
/* 6: leundende pijl **/
/***** 8: 3pijlen *****/
/**********************/

/*alle 2 de pijlen*/
li:nth-of-type(2) button > div,
li:nth-of-type(6) button > div,
li:nth-of-type(8) button > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  margin-top: 0.6em;
}

/*Pijl 1*/
li:nth-of-type(2) button > div:first-child {
  transform: rotate(-15deg);
}

/*stokkies*/
li:nth-of-type(2) button>div>div:first-child,
li:nth-of-type(6) button>div>div:first-child,
li:nth-of-type(8) button>div>div:first-child {
  width: 4em;
  height: 0.3em;

  background-color: rgb(144, 82, 32);
  box-shadow: 0em 0.05em 0.1em 0.1em rgb(104, 41, 8) inset;

  padding: none;

  border-radius: 1em;
  margin-right: -0.3em;
}

/*lontje*/
li:nth-of-type(2) button>div>div:nth-child(2),
li:nth-of-type(6) button>div>div:nth-child(2),
li:nth-of-type(8) button>div>div:nth-child(2) {
  bottom: 0.9em;
  left: 3.3em;
  position: absolute;

  transform: rotate(-25deg);
}
li:nth-of-type(2) button div>div:nth-child(2) div,
li:nth-of-type(6) button div>div:nth-child(2) div,
li:nth-of-type(8) button div>div:nth-child(2) div {
  width: 0.5em;
  height: 0.5em;

  border-radius: 1em;
  
  margin-top: -0.18em;
  z-index: -1;
}
li:nth-of-type(2) button div>div:nth-child(2) div:first-child,
li:nth-of-type(6) button div>div:nth-child(2) div:first-child,
li:nth-of-type(8) button div>div:nth-child(2) div:first-child {
  border-right: 0.15em solid black;
  border-bottom: 0.15em solid black;

  transform: rotate(-48deg);
}
li:nth-of-type(2) button div>div:nth-child(2) div:last-child,
li:nth-of-type(6) button div>div:nth-child(2) div:last-child,
li:nth-of-type(8) button div>div:nth-child(2) div:last-child {
  border-left: 0.15em solid black;
  border-top: 0.15em solid black;

  transform: rotate(-48deg);
}

/*cilinder*/
/*bottom*/
li:nth-of-type(2) button div>div:nth-child(3),
li:nth-of-type(6) button div>div:nth-child(3),
li:nth-of-type(8) button div>div:nth-child(3) {
  width: 1.2em;
  height: 1.4em;

  margin-right: -0.8em;
  border-radius: 1em;

  background-color: var(--firework-red);
  box-shadow: 0.2em 0.25em 0.15em 0.05em var(--firework-shadow) inset;

  z-index: 0;
}
li:nth-of-type(2) button div>div:nth-child(4),
li:nth-of-type(6) button div>div:nth-child(4),
li:nth-of-type(8) button div>div:nth-child(4) {
  width: 3em;
  height: 1.4em;

  background-color: var(--firework-red);
  box-shadow: 0em 0.2em 0.5em 0.2em var(--firework-shadow) inset;
}
li:nth-of-type(2) button div>div:nth-child(5) {
  width: 1.3em;
  height: 1.4em;

  margin-left: -0.7em;
  border-radius: 1em;

  background-color: var(--firework-red);
  box-shadow: 0.08em 0.08em 0.15em 0.18em rgb(234, 14, 14) inset;
}





/** 5: rotje groot en klein **/
/*****************************/

li:nth-of-type(5) button {
  display: flex;
  flex-direction: row;
}

/*groot rotje*/
li:nth-of-type(5) button > div:last-of-type {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 0;
  padding-bottom: 0;
}
/*lontje*/
li:nth-of-type(5) button > div:last-of-type div:first-of-type {
  width: 3em;
  height: 3em;

  border-left: 0.4em solid rgb(0, 128, 87);
  border-radius: 1.5em;

  transform: rotate(60deg);

  margin-bottom: -2.5em;
  margin-left: 3.5em;

  z-index: 1;
}
/*top*/
li:nth-of-type(5) button > div:last-of-type div:nth-of-type(2) {
  width: 3em;
  height: 3em;

  background-color: var(--firework-shadow);
  box-shadow: 0.5em -0.5em 1em 0.1em var(--firework-red) inset;

  transform: rotateX(50deg);

  border-radius: 2em;
  margin-bottom: -1.5em;
}
/*cilinder*/
li:nth-of-type(5) button > div:last-of-type div:nth-of-type(3) {
  width: 3em;
  height: 5em;

  background-color: var(--firework-red);

  box-shadow: 0.3em 0.5em 0.5em 0.3em var(--firework-shadow) inset;
}
/*cilinder*/
li:nth-of-type(5) button > div:last-of-type div:nth-of-type(4) {
  width: 3em;
  height: 3em;

  background-color: var(--firework-red);
  box-shadow: 0.25em -0.5em 0.3em 0.2em var(--firework-shadow) inset;

  transform: rotateX(50deg);

  border-radius: 2em;
  margin-top: -1.5em;
}


/*kleine rotjes*/
li:nth-of-type(5) button > div:first-of-type {
  display: flex;
  flex-direction: row;
  margin-left: -3em;
}
li:nth-of-type(5) button > div:first-of-type div {
  margin-left: 1em;
}

/*lontjes*/
li:nth-of-type(5) button > div:first-of-type div div:first-of-type {
  width: 1em;
  height: 1em;

  border-left: 0.15em solid rgb(0, 128, 87);
  border-radius: 1em;

  transform: rotate(30deg);

  margin-bottom: -0.2em;
  margin-left: 1.6em;
}

/*cilinder*/
li:nth-of-type(5) button > div:first-of-type div div:nth-of-type(2) {
  width: 1em;
  height: 2.5em;

  background-color: var(--firework-red);
  box-shadow: 0.2em 0.02em 0.2em 0.1em var(--firework-shadow) inset;
}

/*onderkantjes*/
li:nth-of-type(5) button > div:first-of-type div div:nth-of-type(3) {
  width: 1em;
  aspect-ratio: 1/1;

  background-color: var(--firework-red);
  box-shadow: 0.2em -0.3em 0.2em 0.1em var(--firework-shadow) inset;

  transform: rotateX(60deg);

  border-radius: 1em;
  margin-top: -0.5em;
}






/** 6: leundende pijl **/
/***********************/

/*de hele pijl*/
li:nth-of-type(6) button > div {
  margin-bottom: 5em;
  margin-left: 3.3em;

  transform: rotate(-70deg);
}

/*stokkie*/
li:nth-of-type(6) button>div>div:first-child {
  width: 7em;
  height: 0.4em;
}
li:nth-of-type(6) button>div>div:nth-child(2) {
  bottom: 0.9em;
  left: 6.3em;
}

/*bottom cilinder*/
li:nth-of-type(6) button div>div:nth-child(3) {
  background-color: rgb(0, 136, 255);
  box-shadow: 0.2em 0.25em 0.15em 0.05em rgb(0, 51, 255) inset;
}

li:nth-of-type(6) button div>div:nth-child(4) {
  background-color: rgb(0, 136, 255);
  box-shadow: 0em 0.2em 0.5em 0.2em rgb(0, 51, 255) inset;
  /* height: 2em;
  width: 4em; */
}

li:nth-of-type(6) button div>div:nth-child(5) {
  border: 0.73em solid rgba(255, 255, 255, 0);
  border-left-color: rgb(0, 85, 255);
}





/*** 7: danger vat ***/
/*********************/

/*top*/
li:nth-of-type(7) button > div:first-of-type {
  width: 7em;
  aspect-ratio: 1/1;
  border-radius: 8em;
  background-color: rgb(105, 164, 17);
  box-shadow: 0.08em 0.08em 0.8em 0.18em rgb(86, 134, 13) inset;
  transform: rotateX(70deg);
  margin-bottom: -3.5em;
}

/*main*/
li:nth-of-type(7) button > div:nth-of-type(2) {
  width: 7em;
  aspect-ratio: 2/3;
  --darkgreen: rgb(105, 164, 17);
  --lightgreen: rgb(121, 200, 3);
  /* background-color: rgb(121, 200, 3); */
  background: radial-gradient(140% 100% at top, var(--lightgreen) 0%,
                             var(--lightgreen) 47%, 
                             var(--darkgreen) 48%, 
                             rgb(112, 176, 16) 49%,
                             var(--darkgreen) 51%,
                             var(--darkgreen) 53%, 
                             var(--lightgreen) 54%, 
                             var(--lightgreen) 74%, 
                             var(--darkgreen) 75%, 
                             rgb(112, 176, 16) 76%,
                             var(--darkgreen) 78%,
                             var(--darkgreen) 79%, 
                             var(--lightgreen) 81%, 
                             var(--lightgreen) 100%);
  display: flex;
  justify-content: center;
  box-shadow: 0.5em 0.08em 0.8em 0.5em rgb(110, 171, 19) inset;
}

/*logo*/
li:nth-of-type(7) button > div:nth-of-type(2) p {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  padding-bottom: 1.1em;
  font-family: 'Courier New', Courier, monospace, Verdana;
  color: black;
  font-size: 2em;
  margin-top: 2em;
  font-weight: bold;
  background-color: rgb(255, 225, 0);
  height: 0.5em;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*onderkant*/
li:nth-of-type(7) button > div:last-of-type {
  width: 7em;
  aspect-ratio: 1/1;
  border-radius: 8em;
  transform: rotateX(70deg);

  margin-top: -3.5em;
  margin-bottom: -2.3em;

  background-color: rgb(121, 200, 3);
  box-shadow: 0.5em -1em 0.8em 0.5em rgb(110, 171, 19) inset;
}





/*** 8: 3pijlen ***/
/**********************/

/*alle 3 de pijlen*/
li:nth-of-type(8) button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li:nth-of-type(8) button > div {
  margin-bottom: 3.6em;
  margin-left: -5em;

  transform: rotate(-90deg)
}

/*Pijl 1*/
li:nth-of-type(8) button > div:first-child {
  transform: rotate(-110deg)
}
/*Pijl 3*/
li:nth-of-type(8) button > div:nth-child(3) {
  transform: rotate(-70deg)
}

/*pijlpunten (ook van leundende pijl6)*/
li:nth-of-type(8) button div>div:nth-child(5) {
  border: 0.73em solid rgba(255, 255, 255, 0);
  border-left-color: rgb(198, 4, 4);
}





/*** 9: doosje vuuurwerk rond ***/
/********************************/

/*bovenkant*/
li:nth-of-type(9) button > div:first-of-type {
  position: sticky;
  width: 7em;
  aspect-ratio: 1/1;
  transform: rotateX(50deg);
  border-radius: 8em;

  background-color: rgb(216, 202, 14);
  margin-bottom: -3.5em;
  z-index: 2;

  background-image: 
  radial-gradient(rgb(145, 32, 32) 25%, rgb(167, 33, 33) 26%, rgb(167, 33, 33) 50%, transparent 50%),
  radial-gradient(rgb(145, 32, 32) 25%, rgb(167, 33, 33) 26%,rgb(167, 33, 33) 50%, transparent 50%);
  background-position: 0 0, 3em 3em;
  background-size: 2em 2em;
  background-color: rgb(226, 53, 53);
  box-shadow: 0.5em -0.4em 0.4em 0.2em rgb(120, 27, 27)inset;
}

/*midden/ cilinder*/
li:nth-of-type(9) button > div:nth-of-type(2) {
  position: sticky;
  width: 7em;
  height: 3.5em;

  background-color: var(--box-color);
  box-shadow: 0.5em 1em 0.8em 0.5em var(--box-shadow-color) inset;
  z-index: 1;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}
li:nth-of-type(9) button > div:nth-of-type(2) p {
  margin-bottom: -0.3em;
  color: white;
  font-weight: 900;
}

/*onderkant*/
li:nth-of-type(9) button > div:nth-of-type(3){
  position: sticky;
  width: 7em;
  aspect-ratio: 1/1;
  transform: rotateX(50deg);
  border-radius: 8em;

  background-color: var(--box-color);
  box-shadow: 0.5em -0.5em 0.5em 0.2em var(--box-shadow-color) inset;
  margin-top: -3.8em;
  z-index: 0;
}




/******************/
/***** sounds *****/
/******************/
embed { 
  display: none; 
}
button:active + embed { 
  display: block; 
  visibility: hidden;
}